$font: 'Lato', sans-serif;
$fa-font-path:   "../font";

$grey: #b0b0b0;
$blue: #0033c0;
$red: #e50914;
$black: #221f1f;
$blackblack: #000000;
$greygrey: #f5f5f1;
$white: #ffffff;

$bk-mob: 320px;
$bk-tab: 900px;